<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/plane.ico"}}">

	<link rel="stylesheet" type="text/css" href="{{asset "css/dependencies.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/navbar.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/message-btn.css"}}" />

	{{ghost_head}}
</head>

<body class="{{body_class}}">
	<section id="wrapper">
		<div id="ajax-container">

	<!--=================================NavBar Section=================================-->
<nav id="nav" class="nav">
	<div class="menu-icon">
  <span class="menu-item"></span>
  <span class="menu-item"></span>
  <span class="menu-item"></span>
	</div>


				<div class="center">
			    	<ul class="nav-links">
		  				<li><a href="http://www.enflightdesign.com/pages/about.html">About</a></li>
		  				<li><a href="http://www.enflightdesign.com/gallery/photoshoots.html">Portfolio</a></li>
		  				<li><a href="/tag/articles">Articles</a></li>
						<li><a href="/tag/inspiration">Inspiration</a></li>
					</ul>
				</div>
				<li class="navbar-logo">
					<a href="{{@blog.url}}">
							{{#if @blog.logo}}
						<img src="{{@blog.logo}}" alt="logo"/>
							{{else}}
						<span class="name">{{@blog.title}}</span>
							{{/if}}
					</a>
				</li>
				<div class="center">
			    	<ul class="nav-links">
  				<li><a href="/tag/photography/">Photography</a>
  					<ul class="drop">
{{!--   						<div> --}}
				        <li><a href="/tag/photoshoots">Photoshoots</a></li>
				        <li><a href="/tag/interviews">Interviews</a></li>
				        <li><a href="/tag/events">Events</a></li>
				        <li><a href="/tag/projects">Projects</a></li>
{{!-- 				        </div>		 --}}				      			
				    </ul>
  				</li>
  				<li><a href="/tag/web">Web</a></li>
				<li><a href="/tag/design">Design</a></li>
				<li><a href="/contact">Contact</a></li>

			<div id="marker"></div>  	

					</ul>
				</div>

	<div class="contact-icon">
<a href="/contact"><img src="{{asset "/contact.png"}}"></a>
	</div>

	<div class="shownav" onmouseover="document.getElementById('navbar').className='navbar1'" onmousemove="document.getElementById('hidenav').className='hidenav1'">&nbsp;</div>

	<div id="hidenav" class="hidenav0" onmouseover="document.getElementById('navbar').className='navbar0'" onmousemove="document.getElementById('hidenav').className='hidenav0'">&nbsp;</div>


	<div id="navbar" class="navbar0"> <!-- navbar -->
		<div class="navbar-inner">
			<a class="nav-item one scroll" href="http://www.enflightdesign.com/pages/about.html">
				<p color="white">About</p>
			</a>	
			<a class="nav-item two scroll" href="/tag/photography">
				<p color="white">Photography</p>
			</a>
			<a class="nav-item three scroll" href="/tag/web">
				<p color="white">Web</p>				
			</a>
			<a class="nav-item four scroll" href="/tag/design">
				<p color="white">Design</p>
			</a>			
			<a class="nav-item five scroll" href="http://www.enflightdesign.com/gallery/photoshoots.html">
			<p color="white">Portfolio</p>				
			</a>
			<a class="nav-item six scroll" href="/tag/articles">
				<p color="white">Articles</p>				
			</a>
			<a class="nav-item seven scroll" href="/tag/inspirations">
				<p color="white">Inspirations</p>
			</a>			

		</div> <!-- end navbar-inner -->
	</div> 
</nav>
<!-- end navbar -->
			{{{body}}}
			<div id="body-class" style="display: none;" class="{{body_class}}"></div>
 			<footer id="footer">
				<section class="credits">

					<span class="credits-theme">Copyright <a href="http://www.enflightdesign.com/pages/about.html" target="_blank" rel="nofollow">EnFlight Design</a></span>

					<span class="footer-social-links">

						<a href="https://www.instagram.com/honnnhoang/" target="_blank">  
						<img src="https://enflight.s3.amazonaws.com/2016/Mar/white_instagram-1458535228983.png">
						</a>

						<a href="https://www.facebook.com/enflight/" target="_blank">  
						<img src="https://enflight.s3.amazonaws.com/2016/Mar/white_facebook-1458535467020.png">
						</a>

						<a href="https://www.twitter.com/enflightdesign/" target="_blank">  
						<img src="https://enflight.s3.amazonaws.com/2016/Mar/white_twitter-1458534921106.png">
						</a>	

					</span>		

				</section>
			</footer>
			{{#if @blog.navigation}}
			{{navigation}}
			{{/if}}
		</div>
	</section>
	{{ghost_foot}}

	<script type="text/javascript" src="{{asset "js/dependencies.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/script.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/scroll.js"}}"></script>

</body>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60951599-1', 'auto');
  ga('send', 'pageview');
</script>

</html>
