<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Hon Hoang</title>
    <meta name="photography, web, design, graphic, photo, events, night, night photography, grainy photography, grain photography, los angeles, travel, blog, writing, films, cinema, web design, digital photography, art, art photography, female photography, grunge, digital art, Photography - Visual Art Form, venice photography, socal photography, southern california photography, california photography, new york photography, photography film, dslr, lightroom, photoshop, blog, camera, web design, web design venice, web design california, Photography Web Design,Photography Graphic Design, Photography Graphic,Photography Web,Photography Design,Photography Art,Photography California,Photography New York,Photography Oregon,Photography San Francisco,Photography Portland,Photography Venice,Photography Los Angeles,Photography San Diego,Photography Hollywood,Web Design Photography,Web Design Web Design,Web Design Graphic Design,Web Design Graphic,Web Design Web,Web Design Design,Web Design Art,Web Design California,Web Design New York,Web Design Oregon,Web Design San Francisco,Web Design Portland,Web Design Venice,Web Design Los Angeles,Web Design San Diego,Web Design Hollywood,Graphic Design Photography,Graphic Design Web Design,Graphic Design Graphic Design,Graphic Design Graphic,Graphic Design Web,Graphic Design Design,Graphic Design Art,Graphic Design California,Graphic Design New York,Graphic Design Oregon,Graphic Design San Francisco,Graphic Design Portland,Graphic Design Venice,Graphic Design Los Angeles,Graphic Design San Diego,Graphic Design Hollywood,Graphic Photography,Graphic Web Design,Graphic Graphic Design,Graphic Graphic,Graphic Web,Graphic Design,Graphic Art,Graphic California,Graphic New York,Graphic Oregon,Graphic San Francisco,Graphic Portland,Graphic Venice,Graphic Los Angeles,Graphic San Diego,Graphic Hollywood,Web Photography,Web Web Design,Web Graphic Design,Web Graphic,Web Web,Web Design,Web Art,Web California,Web New York,Web Oregon,Web San Francisco,Web Portland,Web Venice,Web Los Angeles,Web San Diego,Web Hollywood,Design Photography,Design Web Design,Design Graphic Design,Design Graphic,Design Web,Design Design,Design Art,Design California,Design New York,Design Oregon ,Design San Francisco,Design Portland,Design Venice,Design Los Angeles,Design San Diego,Design Hollywood,Art Photography,Art Web Design,Art Graphic Design,Art Graphic,Art Web,Art Design,Art Art,Art California,Art New York,Art Oregon,Art San Francisco,Art Portland,Art Venice,Art Los Angeles,Art San Diego,Art Hollywood, photography accessories ,photography blogs, photography jobs ,photography quotes ,photography tips ,photography websites ,photography classes ,photography terms ,photography aperture ,photography as a hobby ,photography art ,photography articles ,photography accessories ,photography assignments ,photography and cinema ,photography assistant jobs ,photography awards ,photography hacks ,photography how to ,photography hobby ,photography hosting websites ,photography inspiration ,photography iso, Korea, Seoul, South Korea" content="photography, web, design, graphic, photo, events, night, night photography, grainy photography, grain photography, los angeles, travel, blog, writing, films, cinema, web design, digital photography, art, art photography, female photography, grunge, digital art, Photography - Visual Art Form, venice photography, socal photography, southern california photography, california photography, new york photography, photography film, dslr, lightroom, photoshop, blog, camera, web design, web design venice, web design california, Photography Web Design,Photography Graphic Design, Photography Graphic,Photography Web,Photography Design,Photography Art,Photography California,Photography New York,Photography Oregon,Photography San Francisco,Photography Portland,Photography Venice,Photography Los Angeles,Photography San Diego,Photography Hollywood,Web Design Photography,Web Design Web Design,Web Design Graphic Design,Web Design Graphic,Web Design Web,Web Design Design,Web Design Art,Web Design California,Web Design New York,Web Design Oregon,Web Design San Francisco,Web Design Portland,Web Design Venice,Web Design Los Angeles,Web Design San Diego,Web Design Hollywood,Graphic Design Photography,Graphic Design Web Design,Graphic Design Graphic Design,Graphic Design Graphic,Graphic Design Web,Graphic Design Design,Graphic Design Art,Graphic Design California,Graphic Design New York,Graphic Design Oregon,Graphic Design San Francisco,Graphic Design Portland,Graphic Design Venice,Graphic Design Los Angeles,Graphic Design San Diego,Graphic Design Hollywood,Graphic Photography,Graphic Web Design,Graphic Graphic Design,Graphic Graphic,Graphic Web,Graphic Design,Graphic Art,Graphic California,Graphic New York,Graphic Oregon,Graphic San Francisco,Graphic Portland,Graphic Venice,Graphic Los Angeles,Graphic San Diego,Graphic Hollywood,Web Photography,Web Web Design,Web Graphic Design,Web Graphic,Web Web,Web Design,Web Art,Web California,Web New York,Web Oregon,Web San Francisco,Web Portland,Web Venice,Web Los Angeles,Web San Diego,Web Hollywood,Design Photography,Design Web Design,Design Graphic Design,Design Graphic,Design Web,Design Design,Design Art,Design California,Design New York,Design Oregon ,Design San Francisco,Design Portland,Design Venice,Design Los Angeles,Design San Diego,Design Hollywood,Art Photography,Art Web Design,Art Graphic Design,Art Graphic,Art Web,Art Design,Art Art,Art California,Art New York,Art Oregon,Art San Francisco,Art Portland,Art Venice,Art Los Angeles,Art San Diego,Art Hollywood, photography accessories ,photography blogs, photography jobs ,photography quotes ,photography tips ,photography websites ,photography classes ,photography terms ,photography aperture ,photography as a hobby ,photography art ,photography articles ,photography accessories ,photography assignments ,photography and cinema ,photography assistant jobs ,photography awards ,photography hacks ,photography how to ,photography hobby ,photography hosting websites ,photography inspiration ,photography iso, Korea, Seoul, South Korea"/>
    <meta name="Hon Hoang" content="Hon Hoang" />	

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />    

{{!-- FONT LINKS --}}
	<link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">

{{!-- ICONS --}}
    <link rel="shortcut icon" href="{{asset "/honlogo.ico"}}">

{{!-- CSS LINKS --}}
	<link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/dependencies.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/style.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/horizontal-scroll.css"}}" />	
	<link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/navbar.css"}}" />		

			{{!-- facebook plugin --}}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=565348926938963";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>				
			{{!-- end facebook plugin --}}	

</head>

<body class="{{body_class}}">

	<section id="wrapper">
		<div id="ajax-container">

	<!--=================================NavBar Section=================================-->
<nav id="nav" class="nav">
	<div class="menu-icon">
  <span class="menu-item"></span>
  <span class="menu-item"></span>
  <span class="menu-item"></span>
	</div>


				<div class="center">
			    	<ul class="nav-links">
				<li class="navbar-logo selected">
					<a href="http://www.honhoang.com">
						<img src="{{asset "/hon-logo.png"}}" alt="logo"/>
					</a>
				</li>
					</ul>
				</div>

				<div class="center">
			    	<ul class="nav-links">
  				<li><a href="/hon-about">About</a>
  					<ul class="drop">

				        <li><a href="/hon-cv">CV</a></li>

					</ul>
  				</li>			    	
  				<li><a href="/hon-street">Street</a></li>
  				<li><a href="/hon-photoshoots">Photoshoots</a>
{{!--   					<ul class="drop">
  						<li><a href="/hon-fashion">Fashion</a></li>
					</ul> --}}
  				</li>  				
  				<li><a href="/hon-concert">Concert</a>
{{!--   					<ul class="drop">
  						<li><a href="/hon-events">Events</a></li>
					</ul> --}}
  				</li>  				
  				<li><a href="http://www.enflight.design" target="_blank">EnFlight.Design</a></li>    				  				
				<li><a href="/hon-contact">Contact</a>
				</li>

			<div id="marker"></div>  	

					</ul>
				</div>

	<div class="contact-icon">
<a href="/hon-contact"><img src="{{asset "/contact-black.svg"}}"></a>
	</div>

{{!-- 				<div class="mobile-logo">
			    	<ul class="nav-links">
				<li class="navbar-logo selected">
					<a href="http://www.honhoang.com">
						<img src="{{asset "/hon-logo.png"}}" alt="logo"/>
					</a>
				</li>
					</ul>
				</div>	 --}}

	<div class="shownav" onmouseover="document.getElementById('navbar').className='navbar1'" onmousemove="document.getElementById('hidenav').className='hidenav1'">&nbsp;</div>

	<div id="hidenav" class="hidenav0" onmouseover="document.getElementById('navbar').className='navbar0'" onmousemove="document.getElementById('hidenav').className='hidenav0'">&nbsp;</div>


	<div id="navbar" class="navbar0"> <!-- navbar -->
		<div class="navbar-inner">
			<a class="nav-item one scroll" href="/hon-about">
				<p color="white">About</p>
			</a>	
			<a class="nav-item two scroll" href="/hon-street">
				<p color="white">Street</p>
			</a>
			<a class="nav-item four scroll" href="/hon-photoshoots">
				<p color="white">Photoshoots</p>
			</a>			
			<a class="nav-item five scroll" href="/hon-concert">
			<p color="white">Concert</p>				
			</a>
			<a class="nav-item six scroll" href="http://www.enflight.design">
				<p color="white">EnFlight.Design</p>				
			</a>
			<a class="nav-item seven scroll" href="/hon-contact">
				<p color="white">Contact</p>
			</a>			

		</div> <!-- end navbar-inner -->
	</div> 
</nav>
<!-- end navbar -->
			{{{body}}}
			<div id="body-class" style="display: none;" class="{{body_class}}"></div>

 			<footer id="footer">
				<section class="credits">

					<span class="credits-theme">Copyright <a href="http://www.enflight.design/hon-about/" target="_blank" rel="nofollow">Hon Hoang</a></span>

					<span class="footer-social-links">

						<a href="https://www.twitter.com/honnnhoang/" target="_blank">  
						<img src="{{asset "/222_twitter.svg"}}">
						</a>	

						<a href="https://www.facebook.com/enflight/" target="_blank">  
						<img src="{{asset "/222_facebook.svg"}}">
						</a>

						<a href="https://www.instagram.com/honnnhoang/" target="_blank">  
						<img src="{{asset "/222_instagram.svg"}}">
						</a>
						
					</span>		

				</section>
			</footer>
			{{#if @blog.navigation}}
			{{navigation}}
			{{/if}}
		</div>
	</section>
	{{ghost_foot}}

	<script type="text/javascript" src="{{asset "hon-assets/js/mousewheel.js"}}"></script>	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
    $(function(){
        $("#page-wrap").wrapInner("<table cellspacing='30'><tr>");
        $(".post").wrap("<td></td>");
        $("body").mousewheel(function(event, delta) {
            this.scrollLeft -= (delta * 30);
            event.preventDefault();
        });   
    });
    </script>   
    		
</body>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60951599-1', 'auto');
  ga('send', 'pageview');
</script>

</html>
