{{!< default}}

	<link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />	
	<link rel="stylesheet" type="text/css" href="{{asset "css/action-btn.css"}}" />		
	
<header id="header" class="header{{#if @blog.cover}} has-cover{{/if}}">
	<div class="inner">
		<a class="header-title" href="{{@blog.url}}">
			<h1 class="header-name">{{@blog.title}}</h1>
			{{#if @blog.description}}
				<span class="header-description" href="/contact">{{!-- {{@blog.description}} --}}Elegant productions in photography, web and design.


				<div class="wrapper">
  					<a href="/contact" class="button">Share your story with us</a>
				</div>

					<div class="wrapper-view">
						<div class="button-view" id='featured'>View&nbsp;</div>
					</div>
				</span>
</span>

			{{/if}}
		</a>
	</div>
	{{#if @blog.cover}}
	<div id="header-cover" class="header-cover"></div>
	{{/if}}
</header>


<div id="post-index" class="container">
	<main class="content" id="scroll" role="main">	
		{{> "loop"}}
	</main>
</div>

<script>
	window.fetchAndRandomize && window.fetchAndRandomize()
</script>