{{!< default}}

	<link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />	
	
<header id="header" class="header{{#if @blog.cover}} has-cover{{/if}}">
	<div class="inner">
		<a class="header-title" href="{{@blog.url}}">
			<h1 class="header-name">{{@blog.title}}</h1>
			{{#if @blog.description}}
				<span class="header-description">{{@blog.description}}</span>
			{{/if}}
		</a>

{{!-- Scroll Down Button --}}
<span class="top_text show_portfolio scroll">
    <a class="arrow-down scroll" href="#scroll">
        <svg class="line">
        <path fill="none" stroke="white" stroke-width="3" stroke-miterlimit="10" d="M190.333,125.5h10l24,24l24-24h10"></path>
        </svg>
    </a>
</span>
{{!-- Scroll Down Button --}}

	</div>
	{{#if @blog.cover}}
	<div class="header-cover" style="background-image: url({{@blog.cover}})"></div>
	{{/if}}
</header>

<div id="post-index" class="container">

	<main class="content" id="scroll" role="main">
	
		{{> "loop"}}
	
	</main>

</div>
