{{!< honhoang-default}}

{{!-- CSS LINKS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/cv.css"}}" />

{{#post}}

<main class="content" role="main">
    <div class="inner">

        <article class="{{post_class}}">            

                <h1>Contact Me</h1>

<p class="contact-details">Need a website built, work done in photography, or just want to say hello?</p> <p>Please send a <a href="/hon-contact">message</a> 

                <br>
                    <span class="about-social-links">

                        <a href="https://www.instagram.com/honnnhoang/" target="_blank">  
                        <img src="{{asset "/ccc_instagram.svg"}}">
                        </a>

                        <a href="https://www.facebook.com/enflight/" target="_blank">  
                        <img src="{{asset "/ccc_facebook.svg"}}">
                        </a>

                        <a href="https://www.twitter.com/enflightdesign/" target="_blank">  
                        <img src="{{asset "/ccc_twitter.svg"}}">
                        </a>    

                    </span>  
                </p>   

{{!-- facebook-page-plugin --}}
<center><div class="fb-page" data-href="https://www.facebook.com/enflight" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="margin:0 auto;"><blockquote cite="https://www.facebook.com/enflight" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/enflight">EnFlight.Design</a></blockquote></div></center>
{{!-- facebook-page-plugin --}}                   


            <section class="post-content">
                {{content}}
            </section>
    
{{/post}}

{{!-- facebook-page-plugin --}}
<center><div class="fb-page" data-href="https://www.facebook.com/enflight" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="margin:0 auto;"><blockquote cite="https://www.facebook.com/enflight" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/enflight">EnFlight.Design</a></blockquote></div></center>
{{!-- facebook-page-plugin --}}           
    
        </article>
    </div>

</main>