{{!< honhoang-default}}

{{!-- CSS LINKS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/cv.css"}}" />

{{#post}}

<main class="content" role="main">
    <div class="inner">

        <article class="{{post_class}}">            

                <h1>Contact Me</h1>

<p class="contact-details">Need a website built, work done in photography, or just want to say hello?</p> <p>Please send a <a href="/hon-contact">message</a> 

                <br>
                    <span class="about-social-links">

                        <a href="https://www.instagram.com/honnnhoang/" target="_blank">  
                        <img src="{{asset "/ccc_instagram.svg"}}">
                        </a>

                        <a href="https://www.facebook.com/enflight/" target="_blank">  
                        <img src="{{asset "/ccc_facebook.svg"}}">
                        </a>

                        <a href="https://www.twitter.com/enflightdesign/" target="_blank">  
                        <img src="{{asset "/ccc_twitter.svg"}}">
                        </a>    

                    </span>  
                </p>   


            <section class="post-content">
                {{content}}
            </section>
    
{{/post}}

                <h1>Contact Me</h1>

<p class="contact-details">Need a website built, work done in photography, or just want to say hello?</p> <p>Please send a <a href="/hon-contact">message</a>  

                <br>                
                    <span class="about-social-links">

                        <a href="https://www.instagram.com/honnnhoang/" target="_blank">  
                        <img src="{{asset "/ccc_instagram.svg"}}">
                        </a>

                        <a href="https://www.facebook.com/enflight/" target="_blank">  
                        <img src="{{asset "/ccc_facebook.svg"}}">
                        </a>

                        <a href="https://www.twitter.com/enflightdesign/" target="_blank">  
                        <img src="{{asset "/ccc_twitter.svg"}}">
                        </a>    

                    </span>  
                </p>               
    
        </article>
    </div>

</main>