{{!-- adjust form in ghost admin page --}}


{{!< default}}

    <link rel="stylesheet" type="text/css" href="{{asset "css/message-btn.css"}}" />        
    <link rel="stylesheet" type="text/css" href="{{asset "css/message-overlay.css"}}" />    

{{#post}}

<main class="content" role="main">
    <div class="inner">

        <article class="{{post_class}}">
            
            <header class="post-header">
                <h1 class="post-title">{{{title}}}</h1>
            </header>

                <h2>Hire Me</h2>

<p class="contact-details">Need a website built or work done in photography? Send a message using the contact box below.</p>

                <h2>Submissions</h2>        
<p class="contact-details">I am always looking to showcase other artists on the site. If you are interested in interviewing with me, please send an email to <strong><a href="mailto:contact@enflight.design">contact@enflight.design</a></strong> with the headline <strong>“Submissions”</strong> or <strong>“Interview”</strong> and include links to your work, blog or portfolio.</p>

            <section class="post-content">
                {{content}}
            </section>
    
            {{/post}}   
    
        </article>
    </div>

</main>
