{{!< honhoang-default}}

{{!-- CSS LINKS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/message-btn.css"}}" />
    
            {{#post}}

            <div class="about-wrapper">
Hon Hoang is a Vietnamese-American street, portrait, and event photographer currently based in South Korea. He was born in Ho Chi Minh City, Vietnam, but grew up in Los Angeles, California. He began studying Photography shortly after graduating from UCLA where he studied Psychology. He sees Photography as a medium that answers questions, satisfies curiosity, and showcases the things that are often left unseen.<br>
{{!-- As he continues with photography, he wants to capture little moments that are often forgotten, moments that dissipate into the ether of the past. It is the moments of daydreaming in others that go unnoticed. It is the raw emotions and thoughts that are transcribed as an expression. The honesty captured in time. <br> --}}

He is currently working as a freelancer and on various photography projects such as <a href="https://www.enflight.design" target="_blank">EnFlight.Design</a><br>

<a href="https://www.enflight.design" target="_blank">EnFlight.Design</a><br> is a web site devoted to the production, publication, and education in photography. 

<a href="/hon-contact">Contact Me</a><br>

					<span class="about-social-links">

						<a href="https://www.instagram.com/honnnhoang/" target="_blank">  
						<img src="{{asset "/ccc_instagram.svg"}}">
						</a>

						<a href="https://www.facebook.com/enflight/" target="_blank">  
						<img src="{{asset "/ccc_facebook.svg"}}">
						</a>

						<a href="https://www.twitter.com/enflightdesign/" target="_blank">  
						<img src="{{asset "/ccc_twitter.svg"}}">
						</a>	

					</span>		

{{!-- facebook-page-plugin --}}
<center><div class="fb-page" data-href="https://www.facebook.com/enflight" data-tabs="timeline" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="margin:0 auto;"><blockquote cite="https://www.facebook.com/enflight" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/enflight">EnFlight.Design</a></blockquote></div></center>
{{!-- facebook-page-plugin --}}					

            </div>          

            <div id="image-wrapper">
                {{content}}  
            </div>                  

            {{/post}}          
