{{!< honhoang-default}}

{{!-- CSS LINKS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "hon-assets/css/message-btn.css"}}" />
    
            {{#post}}

            <div class="about-wrapper">
As I continue with photography, I want to capture little moments that are often forgotten, moments that dissipate into the ether of the past. It is the moments of daydreaming in others that go unnoticed. It is the raw emotions and thoughts that are transcribed as an expression. The honesty captured in time. <br><a href="/hon-contact">Contact Me</a><br>

					<span class="about-social-links">

						<a href="https://www.instagram.com/honnnhoang/" target="_blank">  
						<img src="{{asset "/ccc_instagram.svg"}}">
						</a>

						<a href="https://www.facebook.com/enflight/" target="_blank">  
						<img src="{{asset "/ccc_facebook.svg"}}">
						</a>

						<a href="https://www.twitter.com/enflightdesign/" target="_blank">  
						<img src="{{asset "/ccc_twitter.svg"}}">
						</a>	

					</span>		

            </div>          

            <div id="image-wrapper">
                {{content}}  
            </div>                  

            {{/post}}          
