{{!< default}}

<link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />

{{!-- <header id="header" class="header{{#if @blog.cover}} has-cover{{/if}}">
    <div class="vertical">
        {{#tag}}
	<div class="inner">
		<span class="header-title">
			<h1 class="header-name">{{tag.name}}</h1>
			{{#if tag.description}}
				<span class="header-description">{{tag.description}}</span>
			{{/if}}
		</span>
	</div>
        {{/tag}}
    </div>
    {{#if @blog.cover}}
    <div id="header-cover" class="header-cover"></div>
    {{/if}}
</header>
 --}}
<header id="header" class="header{{#if @blog.cover}} has-cover{{/if}}">
	<div class="inner">
		<span class="header-title">
			<h1 class="header-name">{{tag.name}}</h1>
			{{#if tag.description}}
				<span class="header-description">{{tag.description}}</span>
			{{/if}}
		</span>
	</div>
    {{#if @blog.cover}}
    <div id="header-cover" class="header-cover"></div>
    {{/if}}
</header>



<div id="post-index" class="container">

	<main class="content" role="main">
	
		{{> "loop"}}
	
	</main>

</div>
